<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="../css/asideBlog.css">
</head>
<body>

    <object>
        <aside>
            <div class="blog-card">
            <h2>Which Is The Whitest White Pencil?</h2>
            <p>I don't know about you but as a mixed media artist I'm continually on the search for the best white pens, acrylic markers and pencils</p>
            <div class="author">
              <img src="https://img.freepik.com/free-photo/portrait-young-businesswoman-holding-eyeglasses-hand-against-gray-backdrop_23-2148029483.jpg?size=338&ext=jpg&ga=GA1.1.1546980028.1701734400&semt=ais" alt="Author Avatar">
              <span>Cherry Ferris</span>
              <button class="blog-button">Read More</button>
            </div>
            </div>
             
            <div class="blog-card">
            <h2>Colour Theory to Improve Your Paintings</h2>
            <p>Colour theory is an almost endless area of research that can feel a little daunting, especially if you are only beginning on your creative journey</p>
            <div class="author">
              <img src="https://www.cityheadshots.com/uploads/5/1/2/1/5121840/editor/img-4440.jpeg?1614112290" alt="Author Avatar">
              <span>Tracey Eastham</span>
              <button class="blog-button">Read More</button>
            </div>
            </div>
          </aside>




    </object>







    <script src="../js/javascript.js"></script>
</body>
</html>